<h1><%= @restaurant.name %></h1>
<p>Address: <%= @restaurant.address %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %></p>
<p><strong>Reviews:</strong> </p>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.id %>. <%= review.content %>. <strong>Rating:</strong> <%= review.rating %></p>
<% end %>

<%= link_to 'Back to restaurants', restaurants_path %>

<%= link_to 'Add review', new_restaurant_review_path(@restaurant) %>